{% extends 'layout.html' %}
<head>
  {% block head %}
    <title>Search</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: The PIU Score Tracker"/>
      <meta property="og:description" content="A handy score tracking utility for Pump it Up!"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
      <meta name="theme-color" content="#99beea">
      <meta name="robots" content="none">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
  <div class="content-section">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Song Leaderboards</legend>
        <div class="form-row">
          <div class="col">
            {{ form.song.label(class="form-control-label") }}
            {% if form.song.errors %}
                {{ form.song(id="songDropdown", class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.song.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.song(id="songDropdown", class="form-control form-control-lg", onchange="updateSelectedSong()") }}
            {% endif %}
          </div>
          <div class="col">
            <div>
              <label class="form-control-label" for="difficulty">Difficulty</label>
              <a style="color: #4fbcf7" data-toggle="tooltip" data-placement="top" title="Refresh page if difficulties don't load!">[i]</a>
            </div>
            <select id="difficultyDropdown" class="form-control form-control-lg" name="diffDrop"></select>
          </div>
        </div>
        <div class="form-group">
          {{ form.filters.label(class="form-control-label") }}
          {% if form.filters.errors %}
            {{ form.filters(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.filters.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.filters(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-field">
        {{ form.submit(class="btn btn-outline-success") }}
      </div>
    </form>
  </div>
{% endblock body %}
