{% extends "layout.html" %}
{% from 'imports/_score.html' import score_page %}

{% block head %}
  {% block title %}
    score_title(songtitle, chart)
  {% endblock %}
  {% block meta %}
    <meta property="og:title" content="{{ score.song }} {{score.difficulty}}"/>
    <meta property="og:description" content="Score: {{score.score}} | Grade: {{score.lettergrade.upper()}} | Author: {{score.author.username}}"/>
    <meta property="og:url" content="{{ request.url }}">
    {% if score.lettergrade in bluegrades and score.stagepass %}
      <meta name="theme-color" content="#176ac8">
    {% elif score.lettergrade in goldgrades and score.stagepass %}
      <meta name="theme-color" content="#ecc019">
    {% elif score.lettergrade in redgrades and score.stagepass %}
      <meta name="theme-color" content="#d21b0b">
    {% else %}
      <meta name="theme-color" content="#bab8ba">
    {% endif %}
    <meta name="robots" content="none">
  {% endblock meta %}
{% endblock %}

{% block body %}
score_page(score)
{% endblock body %}
