{% extends 'layout.html' %}

{% block title %}Search{% endblock title %}

{% block body %}
  <div class="content-section">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Advanced Search</legend>
        <div class="form-group">
          <div class="form-row" style="padding: 5pt">
            <div class="col">
              {{ form.chart_id.label(class="form-control-label") }}
              {% if form.chart_id.errors %}
                {{ form.chart_id(class="selectpicker", data-live-search="true") }}
                <div class="invalid-feedback">
                  {% for error in form.chart_id.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.chart_id(class="selectpicker", data-live-search="true") }}
              {% endif %}
            </div>
          </div>
          <div class="form-row" style="padding: 5pt">
            <div class="col">
              {{ form.category_id.label(class="form-control-label") }}
              {% if form.category_id.errors %}
                {{ form.category_id(class="selectpicker is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.category_id.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.category_id(class="selectpicker") }}
              {% endif %}
            </div>
            <div class="col">
              {{ form.minbpm.label(class="form-control-label") }}
              {% if form.minbpm.errors %}
                {{ form.minbpm(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.minbpm.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.minbpm(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col">
              {{ form.maxbpm.label(class="form-control-label") }}
              {% if form.maxbpm.errors %}
                {{ form.maxbpm(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.maxbpm.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.maxbpm(class="form-control form-control-lg") }}
              {% endif %}
            </div>
          </div>
            <div class="col">
              {{ form.author.label(class="form-control-label") }}
              {% if form.author.errors %}
                {{ form.author(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.author.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.author(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col">
              {{ form.lettergrade.label(class="form-control-label") }}
              {% if form.lettergrade.errors %}
                {{ form.lettergrade(class="selectpicker is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.lettergrade.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.lettergrade(class="selectpicker") }}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.scoremodifier.label(class="form-control-label") }}
            {% if form.scoremodifier.errors %}
              {{ form.scoremodifier(class="selectpicker is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.scoremodifier.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.scoremodifier(class="selectpicker") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.score.label(class="form-control-label") }}
            {% if form.score.errors %}
              {{ form.score(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.score.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.score(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.exscoremodifier.label(class="form-control-label") }}
            {% if form.exscoremodifier.errors %}
              {{ form.exscoremodifier(class="selectpicker is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.exscoremodifier.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.exscoremodifier(class="selectpicker") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.exscore.label(class="form-control-label") }}
            {% if form.exscore.errors %}
              {{ form.exscore(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.exscore.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.exscore(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.stagepass.label(class="form-control-label") }}
            {% if form.stagepass.errors %}
              {{ form.stagepass(class="selectpicker is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.stagepass.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.stagepass(class="selectpicker") }}
            {% endif %}
          </div>
        </div>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.platform.label(class="form-control-label") }}
            {% if form.platform.errors %}
              {{ form.platform(class="selectpicker is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.platform.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.platform(class="selectpicker") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.ranked.label(class="form-control-label") }}
            {% if form.ranked.errors %}
              {{ form.ranked(class="selectpicker is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.ranked.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.ranked(class="selectpicker") }}
            {% endif %}
          </div>
        </div>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.perfect.label(class="form-control-label") }}
            {% if form.perfect.errors %}
              {{ form.perfect(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.perfect.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.perfect(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.great.label(class="form-control-label") }}
            {% if form.great.errors %}
              {{ form.great(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.great.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.great(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.good.label(class="form-control-label") }}
            {% if form.good.errors %}
              {{ form.good(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.good.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.good(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.bad.label(class="form-control-label") }}
            {% if form.bad.errors %}
              {{ form.bad(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.bad.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.bad(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.miss.label(class="form-control-label") }}
            {% if form.miss.errors %}
              {{ form.miss(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.miss.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.miss(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.maxcombo.label(class="form-control-label") }}
            {% if form.maxcombo.errors %}
              {{ form.maxcombo(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.maxcombo.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.maxcombo(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.modifiers.label(class="form-control-label") }}
            {% if form.modifiers.errors %}
              {{ form.modifiers(class="selectpicker is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.modifiers.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.modifiers(class="selectpicker") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.gamemix_id.label(class="form-control-label") }}
            {% if form.gamemix_id.errors %}
              {{ form.gamemix_id(class="selectpicker is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.gamemix_id.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.gamemix_id(class="selectpicker") }}
            {% endif %}
          </div>
        </div>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.judgement.label(class="form-control-label") }}
            {% if form.judgement.errors %}
              {{ form.judgement(class="selectpicker is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.judgement.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.judgement(class="selectpicker") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.noteskin.label(class="form-control-label") }}
            {% if form.noteskin.errors %}
              {{ form.noteskin(class="selectpicker is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.noteskin.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.noteskin(class="selectpicker") }}
            {% endif %}
          </div>
        </div>
      </fieldset>
      <div class="form-field">
        {{ form.submit(class="btn btn-outline-success") }}
      </div>
    </form>
  </div>
{% endblock body %}
