{% extends "layout.html" %}

{% block title %}{{ ldbtype }} Leaderboard{% endblock title %}

{% block headscript %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
  </script>
{% endblock headscript %}

{% block body %}
  <h2>Weekly Challenge</h2>
  <hr />
  <div class="jumbotron text-center">
    <div class="animated fadeIn">
      <h1 class="display-4">「{{ songid_to_title['en'][current_weekly.song.id] }}」</h1>
      <h2>{{ lengths[current_weekly.song.length_id].name }}</h2>
      <h2>{{ current_weekly.mode.name }} {{ current_weekly.rating }}</h2>
    </div>
    <hr />
    <p class="lead">
      Submit scores for the weekly challenge below! Users with top scores at the end of the week will earn points on their profiles and may have the chance to obtain special titles!
    </p>
    {% if ldb is not None %}
      <div style="overflow: auto; max-width: 100%">
        score_table(ldb, song=False, chart=False)
      </div>
    {% else %}
      <h4>No scores submitted. Scores will display here when any are uploaded.</h4>
    {% endif %}
  </div>
{% endblock body %}
